.animation{
  
  
    transform: translate(-50%,-50%);
    font-size: 30px;    font-weight: bold;
    text-align: center;
    animation: animate 10s infinite linear;
}
@keyframes animate{
    0%{
        color: #55efc4;
    }
    7%{
        color: #00b894;
    }
    14%{
        color: #81ecec;
    }
    21%{
        color: #00cec9;
    }
    28%{
        color: #74b9ff;
    }
    35%{
        color: #0984e3;
    }
    42%{
        color: #a29bfe;
    }
    49%{
        color: #6c5ce7;
    }
    56%{
        color: #ffeaa7;
    }
    63%{
        color: #fdcb6e;
    }
    70%{
        color: #ff7675;
    }
    80%{
        color: #d63031;
    }
    87%{
        color: #fd79a8;
    }
    94%{
        color: #e84393;
    }
    100%{
        color: #636e72;
    }
}